
/* CONTEUDO INFORMATIVO*/

.hero {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  inset: 0; 
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero-titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  max-width: 90%;
  text-align: center;
  color: #fff;

  font-size: clamp(1.5rem, 4vw, 3rem);
}

.hero-botao {
  position: absolute;
  bottom: 24px;
  right: 24px;
  z-index: 2;

  text-decoration: none;
}

/* CARDS CONVENIOS */

h2{
    margin: 33px 0;
    font-size: var(--titulo-desktop);
    font-family: var(--fonte-titulo);
}

.sessao-convenios{
    margin: 68px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-cards-convenios{
    display: flex;
    width: 100%;
    padding: 0 34px;
    justify-content: space-between;
}


.card-blog {
    width: 443px;
    height: 365px;
    background-color: var(--cor-verde);
    border-radius: 4px;
}

.figure-card-blog {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.conteudo-card-blog {
    padding: 0 15px;
}

.conteudo-card-blog h3 {
    color: var(--cor-bg);
    font-family: var(--fonte-titulo);
    font-size: var(--titulo-desktop);
}

.conteudo-card-blog p {
    color: var(--cor-bg);
    font-family: var(--fonte-texto);
    font-size: 16px;
}

.caixa-botao-card {
    display: flex;
    justify-content: end;
    padding-right: 15px;
}

/* FAQ */

#faq{
    padding: 0 34px;
}

.texto-perguntas{
    font-family: var(--texto-desktop);
    font-size: var(--titulo-desktop);
}

.resposta-faq{
    font-size: var(--texto-desktop);
    color: var(--cor-bg);
}


@media (max-width: 768px) {

    h2{
        margin: 10px 0px 15px 0px;
        font-size: var(--titulo-mobile);
    }

    .hero-titulo {
        width: 100%;
    }

    .sessao-convenios{
        margin: 30px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-cards-convenios{
        padding: 0 15px;
    }


    .container-cards-convenios{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 15px;
        gap: 15px;
        justify-content: space-between;
    }

    .hero-botao {
        right: 15px;
    }

    .card-blog {
        width: 360px;
        height: 322px;
    }

    .conteudo-card-blog h3 {
        color: var(--cor-bg);
        font-size: var(--titulo-mobile);
    }

    .conteudo-card-blog p {
        color: var(--cor-bg);
        font-family: var(--fonte-texto);
        font-size: 16px;
    }

    .figure-card-blog {
        display: flex;
        justify-content: center;
        padding: 15px;
    }

    
    #faq{
        padding: 0 15px;
    }

    .texto-perguntas{
        font-family: var(--texto-mobile);
        font-size: var(--titulo-mobile);
    }

    .resposta-faq{
        font-size: var(--texto-mobile);
    }
}