/* CONTEUDO PRINCIPAL */
.conteudo-principal{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        gap: 68px;
    }
/* CONTEUDO PRINCIPAL */

/* CARROSSEL */
.carrossel {
    margin: 0 auto;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    anchor-name: --carrossel;
    scroll-snap-type: x mandatory;
    scroll-marker-group: after;
    z-index: 1;
}

.carrossel-img {
    scroll-snap-align: start;
    flex-shrink: 0;
    height: 100%;
    width: 100%;
}

.carrossel::-webkit-scrollbar {
    display: none;
}

.carrossel::scroll-button(right),
.carrossel::scroll-button(left) {
    content: url(../img/icons/estado-direita.png);
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: fixed;
    position-anchor: --carrossel;
    position-area: right center;
    translate: -50%;
    z-index: 1;
}

.carrossel::scroll-button(left) {
    content: url(../img/icons/estado-esquerda.png);
    position-area: left center;
    translate: 50%;
    z-index: 1;
}

.carrossel::scroll-marker-group {
    display: flex;
    justify-content: center;
    gap: .5em;
    position: fixed;
    position-anchor: --carrossel;
    position-area: bottom center;
    top: -30px;
    z-index: 1;
}

.carrossel-img::scroll-marker {
    content: '';
    height: 4px;
    width: 120px;
    background-color: var(--cor-bg);
    border-radius: 4px;
    border: solid 1px var(--cor-txt);
}

.carrossel-img::scroll-marker:target-current {
    background-color: var(--cor-laranja);
}

/* CARROSSEL */

/* SESSOES */
.sessao {
    padding: 0 34px;
    display: flex;
    align-items: center;
    gap: 34px;
    color: var(--cor-txt);
}

.titulo {
    font-size: var(--titulo-desktop);
    font-family: var(--fonte-titulo);
    margin-bottom: 20px;
}

.sessao div,
.sessao img {
    flex: 1;
}

.descricao {
    font-size: var(--texto-desktop);
    font-family: var(--fonte-texto);
    text-align: justify;
    margin-bottom: 20px;
}

.img-conteudo {
    height: auto;
    border-radius: 4px;
    display: block;
}

.reverso {
    flex-direction: row-reverse;
}

.botao {
    display: inline-block;
    width: auto;
}

.primeira-sessao{
    margin-top: 68px;
}

.ultima-sessao {
    margin-bottom: 68px;
}

/* SESSOES */

/* ESSENCIA */
.essencia {
    background-color: var(--cor-laranja);
    color: var(--cor-bg);
    padding: 34px 70px;
    display: flex;
    gap: 95px;
    justify-content: space-between;
}

.essencia .subtitulo {
    text-align: center;
    margin-bottom: 20px;
}

.essencia p {
    text-align: justify;
}

/* ESSENCIA */

/* RODAPE */
.rodape {
    background-color: var(--cor-verde);
    color: var(--cor-bg);
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 40px 70px;
}

.rodape div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0 40px;
    margin-bottom: 10px;
}

.titulo-rodape {
    text-align: center;
    font-family: var(--fonte-titulo);
    margin-bottom: 27px;
}

.descricao-rodape {
    font-family: var(--fonte-texto);
    margin-bottom: 27px;
}

.botao-rodape {
    text-align: center;
    display: block;
    width: 100%;
}

.rodape div nav {
    display: none;
}

.botao-rodape {
    display: block;
}

.rodape-copyrigth {
    padding: 0;
}

/* RODAPE */

/* MEDIA QUERIES*/
@media (max-width: 768px) {
    /* CONTEUDO PRINCIPAL */
    .conteudo-principal{
        gap: 30px;
    }
    /* CONTEUDO PRINCIPAL */

    /* CARROSSEL */
    .carrossel::scroll-button(left) {
        content: url(../img/icons/estado-esquerda-mobile.png);

    }

    .carrossel::scroll-button(right) {
        content: url(../img/icons/estado-direita-mobile.png);
    }

    .carrossel-img::scroll-marker {
        width: 90px;
        height: 3px;
    }

    .carrossel::scroll-marker-group {
        top: -20px;
    }

    /* CARROSSEL */

    /* SESSOES */
    .sessao {
        flex-direction: column;
        gap: 30px;
        padding: 0;
        text-align: center;
    }

    .sessao.reverso {
        flex-direction: column;
    }

    .titulo {
        font-size: var(--titulo-mobile);
        margin-bottom: 15px;
    }

    .sessao div {
        padding: 0 15px;
        width: 100%;
    }

    .descricao {
        font-size: var(--texto-mobile);
        margin: 0;
    }

    .img-conteudo {
        width: 100%;
        border-radius: 0px;
    }

    .sessao div .botao {
        font-size: var(--texto-mobile);
        display: inline-block;
        margin: 0 auto;
        margin-top: 15px;
    }

    .primeira-sessao{
        margin: 0;
    }

    .ultima-sessao{
        margin-bottom: 30px;
    }

    /* SESSOES */

    /* ESSENCIA */
    .essencia {
        padding: 15px;
        gap: 30px;
        flex-direction: column;
    }

    .essencia .subtitulo {
        text-align: center;
        margin-bottom: 15px;
    }

    .essencia p {
        text-align: justify;
    }

    /* ESSENCIA */

    /* RODAPE */
    .rodape {
        padding: 15px;
        gap: 15px;
    }

    .rodape div nav {
        display: block;
    }

    .rodape div {
        justify-content: start;
        margin: 0;
        padding: 0;
    }

    .rodape div nav ul {
        list-style: none;
        font-size: var(--texto-mobile);
    }

    .rodape div nav ul a {
        color: var(--cor-bg);
        font-family: var(--fonte-texto);
        font-weight: 600;
    }

    .rodape section,
    .rodape-links,
    .none {
        display: none;
    }

    .rodape-copyrigth {
        font-size: var(--texto-mobile);
    }

    .rodape-copyrigth span {
        display: block;
    }

    /* RODAPE */
}