@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --fonte-titulo: "Archivo Black", sans-serif;
  --fonte-texto: "Lato", sans-serif;
  --titulo-desktop: 32px;
  --texto-desktop: 20px;
  --titulo-mobile: 24px;
  --texto-mobile: 16px;
  --arredondamento-bordas: 4px;

  --cor-branco: #fafafa;
  --cor-preto: #111111;
  --cor-laranja: #f57921;
  --cor-laranja-ativo: #ff6a00;
  --cor-verde: #01796b;
  --cor-verde-ativo: #0ea199;
}

.autenticacao-pagina {
  min-height: 100vh;
  background-image: url(../img/img-fundo-autenticacao.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.autenticacao-pagina::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
}

.autenticacao-logo {
  position: absolute;
  top: 34px;
  left: 34px;
  font-family: var(--fonte-titulo);
  font-size: var(--titulo-desktop);
  background-color: var(--cor-verde);
  color: var(--cor-branco);
  padding: 5px 10px;
  border-radius: var(--arredondamento-bordas);
}

.autenticacao-conteudo {
  position: relative;
  z-index: 1;
}

.autenticacao-card {
  max-width: 650px;
  width: 100%;
  background: var(--cor-branco);
  border: 3px solid var(--cor-verde);
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.autenticacao-card header {
  background-color: var(--cor-verde);
  font-family: var(--fonte-titulo);
  font-size: var(--titulo-desktop);
  color: var(--cor-branco);
  padding: 13px 20px;
  margin-bottom: 20px;
}

.autenticacao-card form {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.input-txt {
  font-family: var(--fonte-texto);
  font-size: var(--texto-desktop);
  display: block;
  width: 100%;
  padding: 10px 10px 10px 20px;
  border: 1px solid #444444;
  border-radius: 8px;
}

.wrapper-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 0px 20px;
}

.label-checkbox {
  margin-left: 10px;
  font-family: var(--fonte-texto);
  font-size: var(--texto-mobile);
}

label span {
  color: var(--cor-verde);
}

.wrapper-botoes {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 20px;
}

a {
  font-size: var(--texto-desktop);
  font-family: var(--fonte-texto);
  color: var(--cor-verde);
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  color: var(--cor-verde-ativo);
}

.botao {
  background-color: var(--cor-laranja);
  color: var(--cor-branco);
  font-family: var(--fonte-texto);
  font-size: var(--texto-desktop);
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: var(--arredondamento-bordas);
  transition: 0.2s;
}

.botao:hover {
  background-color: var(--cor-laranja-ativo);
  color: var(--cor-branco);
}
