@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  /* Tipografia */
  --fonte-titulo: "Poppins", sans-serif;
  --fonte-texto: "Lato", sans-serif;

  /* Tamanhos Desktop */
    --titulo-tam-desktop: 32px;
  --texto-tam-desktop: 20px;

  /* Tamanhos Mobile */
   --titulo-tam-mobile: 30px;
   --texto-tam-mobile: 15px;

  /* Layout */
  --arredondamento-bordas: 8px;

  /* Cores */
  --cor-texto: #000000;
  --cor-bg-pagina: #ffffff;
  --cor-bg-componente: #eaecf8;
  --cor-bg-sessao: #e8efff;
  --cor-principal: #264d98;
  --cor-ativo: #005df6;
  --cor-escuro: #2b2f48;
}

/* ==========================================================================*/

body {
  height: 100%;
  background-color: var(--cor-branco);
  font-family: var(--fonte-texto);
  font-size: 20px;
  color: var(--cor-texto);
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--fonte-titulo);
  font-size: var(--titulo-tam-desktop);
  font-weight: normal;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.3em;
}

.cabecalho {
  width: 100%;
  background-color: var(--cor-bg-componente);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.logo {
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.lista-links {
  display: flex;
  justify-content: center;
  gap: 60px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.lista-links a {
  color: var(--cor-principal);
  text-decoration: none;
}

.lista-links a:hover {
  color: var(--cor-ativo);
}

.lista-links a.ativo {
  /* BORDA EMBAIXO COM BEFORE/AFTER */
}

.botao-icone {
  background-color: var(--cor-bg-componente);
  color: var(--cor-principal);
  font-size: 35px;
  border: none;
}

.botao-icone:hover {
  color: var(--cor-ativo);
  cursor: pointer;
}

.wrapper-botoes {
  display: flex;
  gap: 25px;
}

.botao {
  font-size: var(--texto-tam-desktop);
  font-family: var(--fonte-texto);
  background-color: rgba(255, 0, 0, 0);
  display: inline-block;
  background-color: none;
  color: var(--cor-principal);
  border: 1px solid var(--cor-principal);
  border-radius: var(--arredondamento-bordas);
  text-decoration: none;
  padding: 10px 20px;
  transition: 0.2s;
}

.botao:hover {
  cursor: pointer;
  background-color: var(--cor-principal);
  color: #ffffff;
}

.card {
  background-color: var(--cor-bg-pagina);
  color: var(--cor-principal);
  border-radius: var(--arredondamento-bordas);
  border: 1px solid var(--cor-bg-sessao);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  width: 25%;
  padding: 18px 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.saiba-mais {
  color: var(--cor-ativo);
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: 0.2s;
}

.saiba-mais:hover {
  color: var(--cor-principal);
}

.saiba-mais i {
  font-size: 1.5em;
}

.card h3 {
  display: flex;
  align-items: center;
}

.card span {
  font-size: 1.5em;
}

/* Elementos do Menu Mobile (escondidos por padrão no desktop) */
.menu-mobile,
#menu-aberto,
.btn-menu,
.botao-mobile-icone,
.rodape section nav {
  display: none;
}

/* --- Rodapé --- */
.rodape {
  width: 100%;
  background-color: var(--cor-principal);
  color: var(--cor-bg-pagina);
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 40px 70px;
}

.rodape section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 0 40px;
  margin-bottom: 10px;
}

.titulo-rodape {
  text-align: center;
  font-family: var(--fonte-titulo);
  margin-bottom: 27px;
}

.descricao-rodape {
  text-align: center;
  margin-bottom: 27px;
}

.botao-rodape {
  background-color: none;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  border-radius: var(--arredondamento-bordas);
  text-align: center;
  display: block;
  width: 100%;
  transition: 0.2s;
}

.botao-rodape:hover {
  background-color: #ffffff;
  color: var(--cor-principal);
  cursor: pointer;
}

.rodape-copyrigth {
  text-align: center;
  font-size: var(--texto-desktop);
  font-family: var(--fonte-texto);
  margin: 0;
}

/* ESTILIZAÇÃO DAS PÁGINAS DE ARTIGOS (ELIAS) */

/* Define a cor de fundo da sessão hero (Contém o titulo principal da página de artigos)*/
.sessao-hero{ 
  background-color: var(--cor-principal);
}

/* Define  o tamanho do titulo principal da página*/
.sessao-hero h1{
  font-size: 48px;
}

/* Define cor, tamaho da fonte e estilo da fonte do subtitulo principal da página) */
.subtitulo-hero-artigo{
  color: white;
  font-size: 24px;
  font-style: italic;
}

/* Define cor e tamaho da fonte dos parágrafos dos artigos */
article p{
  font-size: 20px;
  color: var(--cor-texto);
}

/* Define cor, tamanho e fonte a ser usada nos titulos h5 */
.texto-artigo h5{
  color: var(--cor-principal);
  font-size: var(--titulo-tam-desktop);
  font-family: var(--fonte-titulo);
}

/* Aplica alinhamentos no container aside usando flex-box */
aside{
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 50px 0 !important;
}

/* Define largura, preenchimento interno, e alinhamento dos cards do aside */
.card-aside-artigo{
  width: 70%;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--cor-bg-sessao);
}

/* Define cor, alinhamento e preenchimento interno dos elemntos de dentro dos cards do aside */
.corpo-card{
  background-color: var(--cor-bg-sessao);
  display: flex;
  padding: 20px;
}

/* Define cor, tamanho da fonte e largura do h6 interno do card do aside */
.corpo-card h6{
  font-size: 24px;
  width: 100%;
}

/* Define tamanho de fonte, cor, peso da fonte e margem do texto de dentro do card do aside*/
.corpo-card p{
  font-size: 20px;
  color: var(--cor-texto);
  font-weight:300 ;
  margin-bottom: 8px;
}

/* Define tamanho da fonte, tira a decoração de link e muda a cor do elemnto <a> do card do aside*/
.corpo-card a{
  font-size: 25px;
  text-decoration: none;
  color: var(--cor-principal);
}

/* Muda a cor do texto quando o usuário passar o mouse por cima do link de "saiba mais" do card*/
.corpo-card a:hover{
  color: var(--cor-ativo);
}

/* Cria um pseudo elemento que vai ser uma barra que vai aparecer embaixo dos links quando o usuário passar o mouse. */
.link-underline-animado::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: var(--cor-ativo);
  transform: scaleX(0);
  transform-origin:left;
  transition: transform 0.25s ease-in-out;
}

/* Posiciona o pseudo elemento em relação ao link*/
.link-underline-animado{
  position: relative;
  display: inline-block;
}

/* Faz o efeito de barra ir crescendo até ocupar a largura total do link quando o usuário passa o mouse por cima */
.link-underline-animado:hover::after{
  transform: scaleX(1);
}


/* MEDIAS */

@media (max-width: 768px) {
  /* --- Ajustes do Cabeçalho Mobile --- */
  .cabecalho {
    padding: 21px 15px;
  }

  .icon-menu {
    background-color: var(--cor-laranja);
    padding: 5px;
    border-radius: 4px;
  }

  .btn-menu {
    display: block;
  }

  /* Esconde botões desktop */
  .cabecalho .botao-icone,
  #menu-aberto {
    display: none;
  }

  /* Menu Hamburger (Dropdown) */
  .lista-links {
    display: none;
    flex-direction: column;
    align-items: start;
    gap: 25px;
    padding: 15px;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: auto;
    background-color: var(--cor-verde);
    z-index: 100;
  }

  .botao-mobile-icone {
    display: block;
    font-family: var(--texto-mobile);
  }

  #menu-aberto:checked ~ .lista-links {
    display: flex;
  }

  .rodape {
    padding: 15px;
    gap: 15px;
  }

  .rodape div nav {
    display: block;
  }

  .rodape div {
    justify-content: start;
    margin: 0;
    padding: 0;
  }

  .rodape div nav ul {
    list-style: none;
    font-size: var(--texto-mobile);
  }

  .rodape div nav ul a {
    color: var(--cor-bg);
    font-family: var(--fonte-texto);
    font-weight: 600;
    text-decoration: underline;
  }

  .rodape section,
  .rodape-links,
  .none {
    display: none;
  }

  .rodape-copyrigth {
    font-size: var(--texto-mobile);
  }

  .rodape-copyrigth span {
    display: block;
  }
}
