@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


:root {
  --fonte-titulo: "Archivo Black", sans-serif;
  --fonte-texto: "Lato", sans-serif;
  --titulo-desktop: 32px;
  --texto-desktop: 20px;
  --titulo-mobile: 24px;
  --texto-mobile: 16px;
  --arredondamento-bordas: 4px;
  --cor-bg: #fafafa;
  --cor-txt: #111111;
  --cor-laranja: #f57921;
  --cor-laranja-ativo: #ff6a00;
  --cor-verde: #01796b;
  --cor-verde-ativo: #0ea199;
}

body {
  background-color: var(--cor-bg);
  color: var();
}

h2 {
  font-size: var(--titulo-desktop);
  font-family: var(--fonte-titulo);
}

p {
  font-family: var(--fonte-texto);
  font-size: var(--texto-desktop);
}

ul {
  font-size: var(--texto-desktop);
  font-family: var(--fonte-texto);
}


/* CONTEUDO PRINCIPAL (elias) */

.txt-img {
  margin-bottom: 34px;
  padding: 0;
}

.conteudo-principal {
  padding: 0 34px;
  margin: 68px 0;
}

.linha-txt-img {
  column-gap: 34px;
  display: flex;
}

.txt-especialidade h2 {
  text-align: center;

}

.nav-botao {
  width: 100%;
  margin-bottom: 34px;
}

.botao {
  background-color: var(--cor-laranja);
  color: var(--cor-bg);
  font-family: var(--fonte-texto);
  font-size: var(--texto-desktop);
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: var(--arredondamento-bordas);
  transition: 0.2s;
}

@media (max-width: 768px) {
  h2 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }

  .conteudo-principal {
    padding: 0 15px;
    margin: 30px 0;
  }

  .botao {
    font-size: var(--texto-mobile);
  }

  .nav-botao {
    text-align: end;
    margin-bottom: 15px;
  }

  .txt-especialidade h2 {
    margin-top: 30px;
  }

  .txt-especialidade {
    margin-bottom: -25px;

  }

  .txt-img {
    margin-bottom: 30px;
  }

  ul {
    font-size: var(--texto-mobile);

  }

  .fig-img {
    margin-left: -15px;
    margin-right: -15px;
  }

  .fig-img img {
    width: 100vw;
    max-width: 100vw;
    display: block;
  }


}


