@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  /* Tipografia */
  --fonte-titulo: "Poppins", sans-serif;
  --fonte-texto: "Lato", sans-serif;

  /* Tamanhos Desktop */
  --titulo-tam-desktop: 32px;
  --texto-tam-desktop: 20px;

  /* Tamanhos Mobile */
  --titulo-tam-mobile: 30px;
  --texto-tam-mobile: 15px;

  /* Layout */
  --arredondamento-bordas: 8px;

  /* Cores */
  --cor-texto: #000000;
  --cor-bg-pagina: #ffffff;
  --cor-bg-componente: #eaecf8;
  --cor-bg-sessao: #e8efff;
  --cor-principal: #264d98;
  --cor-ativo: #005df6;
  --cor-escuro: #2b2f48;
}

/* ==========================================================================*/

body {
  height: 100%;
  background-color: var(--cor-branco);
  font-family: var(--fonte-texto);
  font-size: 20px;
  color: var(--cor-texto);
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--fonte-titulo);
  font-size: var(--titulo-tam-desktop);
  font-weight: normal;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.3em;
}

.cabecalho {
  width: 100%;
  background-color: var(--cor-bg-componente);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.logo {
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.lista-links {
  display: flex;
  justify-content: center;
  gap: 60px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.lista-links a {
  color: var(--cor-principal);
  text-decoration: none;
}

.lista-links a:hover {
  color: var(--cor-ativo);
}

.lista-links a.ativo {
  /* BORDA EMBAIXO COM BEFORE/AFTER */
}

.botao-icone {
  background-color: var(--cor-bg-componente);
  color: var(--cor-principal);
  font-size: 35px;
  border: none;
}

.botao-icone:hover {
  color: var(--cor-ativo);
  cursor: pointer;
}

.wrapper-botoes {
  display: flex;
  gap: 25px;
}

.botao {
  font-size: var(--texto-tam-desktop);
  font-family: var(--fonte-texto);
  background-color: rgba(255, 0, 0, 0);
  display: inline-block;
  background-color: none;
  color: var(--cor-principal);
  border: 1px solid var(--cor-principal);
  border-radius: var(--arredondamento-bordas);
  text-decoration: none;
  padding: 10px 20px;
  transition: 0.2s;
}

.botao:hover {
  cursor: pointer;
  background-color: var(--cor-principal);
  color: #ffffff;
}

.card {
  background-color: var(--cor-bg-pagina);
  color: var(--cor-principal);
  border-radius: var(--arredondamento-bordas);
  border: 1px solid var(--cor-bg-sessao);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  width: 25%;
  padding: 18px 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.saiba-mais {
  color: var(--cor-ativo);
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: 0.2s;
}

.saiba-mais:hover {
  color: var(--cor-principal);
}

.saiba-mais i {
  font-size: 1.5em;
}

.card h3 {
  display: flex;
  align-items: center;
}

.card span {
  font-size: 1.5em;
}

/* Elementos do Menu Mobile (escondidos por padrão no desktop) */
.menu-mobile,
#menu-aberto,
.btn-menu,
.botao-mobile-icone,
.rodape section nav {
  display: none;
}

/* --- Rodapé --- */
.rodape {
  width: 100%;
  background-color: var(--cor-principal);
  color: var(--cor-bg-pagina);
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 40px 70px;
}

.rodape section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 0 40px;
  margin-bottom: 10px;
}

.titulo-rodape {
  text-align: center;
  font-family: var(--fonte-titulo);
  margin-bottom: 27px;
}

.descricao-rodape {
  text-align: center;
  margin-bottom: 27px;
}

.botao-rodape {
  background-color: none;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  border-radius: var(--arredondamento-bordas);
  text-align: center;
  display: block;
  width: 100%;
  transition: 0.2s;
}

.botao-rodape:hover {
  background-color: #ffffff;
  color: var(--cor-principal);
  cursor: pointer;
}

.rodape-copyrigth {
  text-align: center;
  font-size: var(--texto-desktop);
  font-family: var(--fonte-texto);
  margin: 0;
}

/* PAGINA INICIO */
/* carrossel */
.carrossel-inicio {
  position: relative;
  overflow: hidden;
}

.carrossel-inicio input {
  display: none;
}

.carrossel-imagens {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease;
  animation: autoSlide 20s infinite;
}

.carrossel-imagens h2 {
  font-size: 48px;
  font-weight: bold;
}

.carrossel-img {
  background-size: cover;
  width: 100%;
  min-height: 30vw;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  color: var(--cor-bg-pagina);
}

.carrossel-img-1 {
  background-image: url(../img/carrossel-img-1.png);

}

.carrossel-img-2 {
  background-image: url(../img/carrossel-img-2.png);
  align-items: start;
}

.carrossel-img-3 {
  background-image: url(../img/carrossel-img-3.png);
  align-items: start;
}

.carrossel-img-4 {
  background-image: url(../img/carrossel-img-4.png);
}

.carrossel-navegacao {
  position: absolute;
  width: 100%;
  bottom: 15px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.carrossel-navegacao label {
  width: 15px;
  height: 15px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #000000;
  transition: 0.3s;
}

.carrossel-navegacao label:hover {
  transform: scale(1.2);
}

#carrossel-btn-1:checked~.carrossel-navegacao label:nth-child(1),
#carrossel-btn-2:checked~.carrossel-navegacao label:nth-child(2),
#carrossel-btn-3:checked~.carrossel-navegacao label:nth-child(3),
#carrossel-btn-4:checked~.carrossel-navegacao label:nth-child(4) {
  background: var(--cor-principal);
}

.carrossel-inicio input:checked~.carrossel-imagens {
  animation: none;
}

#carrossel-btn-1:checked~.carrossel-imagens {
  transform: translateX(0);
}

#carrossel-btn-2:checked~.carrossel-imagens {
  transform: translateX(-100%);
}

#carrossel-btn-3:checked~.carrossel-imagens {
  transform: translateX(-200%);
}

#carrossel-btn-4:checked~.carrossel-imagens {
  transform: translateX(-300%);
}

@keyframes autoSlide {

  0%,
  20% {
    transform: translateX(0);
  }

  25%,
  45% {
    transform: translateX(-100%);
  }

  50%,
  70% {
    transform: translateX(-200%);
  }

  75%,
  95% {
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(0);
  }
}

/* sessoes */
.sessao-bloco-texto-img{
  display: flex;
  padding: 65px 155px;
  gap: 70px;
}

.sessao-bloco-texto-img article{ 
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: justify;
}

.sessao-bloco-texto-img img{
  width: 50%;
}

.sessao-bloco-texto-img article h2, .sessao-bloco-texto-img article p{ 
  margin-bottom: 25px;
}

.sessao-fundo-azul{
  background-color: var(--cor-bg-sessao);
}

.sessao-bloco-texto-img article a{
  width: fit-content;
}

/* MEDIAS */

@media (max-width: 768px) {
  /* --- Ajustes do Cabeçalho Mobile --- */
  .cabecalho {
    padding: 21px 15px;
  }

  .icon-menu {
    background-color: var(--cor-laranja);
    padding: 5px;
    border-radius: 4px;
  }

  .btn-menu {
    display: block;
  }

  /* Esconde botões desktop */
  .cabecalho .botao-icone,
  #menu-aberto {
    display: none;
  }

  /* Menu Hamburger (Dropdown) */
  .lista-links {
    display: none;
    flex-direction: column;
    align-items: start;
    gap: 25px;
    padding: 15px;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: auto;
    background-color: var(--cor-verde);
    z-index: 100;
  }

  .botao-mobile-icone {
    display: block;
    font-family: var(--texto-mobile);
  }

  #menu-aberto:checked~.lista-links {
    display: flex;
  }

  .rodape {
    padding: 15px;
    gap: 15px;
  }

  .rodape div nav {
    display: block;
  }

  .rodape div {
    justify-content: start;
    margin: 0;
    padding: 0;
  }

  .rodape div nav ul {
    list-style: none;
    font-size: var(--texto-mobile);
  }

  .rodape div nav ul a {
    color: var(--cor-bg);
    font-family: var(--fonte-texto);
    font-weight: 600;
    text-decoration: underline;
  }

  .rodape section,
  .rodape-links,
  .none {
    display: none;
  }

  .rodape-copyrigth {
    font-size: var(--texto-mobile);
  }

  .rodape-copyrigth span {
    display: block;
  }
}