/* CARROSSEL */
.carrossel {
    margin: 0 auto;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    anchor-name: --carrossel;
    scroll-snap-type: x mandatory;
    scroll-marker-group: after;
}

.carrossel-img {
    scroll-snap-align: start;
    flex: 1 0 100%;
}

.carrossel::-webkit-scrollbar {
    display: none;
}

.carrossel::scroll-button(right),
.carrossel::scroll-button(left) {
    content: url(../img/estado-direita.png);
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: fixed;
    position-anchor: --carrossel;
    position-area: right center;
    translate: -50%;
}

.carrossel::scroll-button(left) {
    content: url(../img/estado-esquerda.png);
    position-area: left center;
    translate: 50%;
}

.carrossel::scroll-marker-group {
    display: flex;
    justify-content: center;
    gap: .5em;
    position: fixed;
    position-anchor: --carrossel;
    position-area: bottom center;
    top: -30px;
}

.carrossel-img::scroll-marker {
    content: '';
    height: 4px;
    width: 120px;
    background-color: var(--cor-branco);
    border-radius: 4px;
    border: solid 1px var(--cor-preto);
}

.carrossel-img::scroll-marker:target-current {
    background-color: var(--cor-laranja);
}
/* CARROSSEL */

/* SESSOES */
.sessao{
    padding: 68px 34px 0 34px;
    display: flex;
    gap: 34px;
}

.titulo{
    font-size: var(--titulo-desktop);
    font-family: var(--fonte-titulo);
    margin-bottom: 20px;
}

.sessao div{
    width: 50%;
}

.descricao{
    font-size: var(--texto-desktop);
    font-family: var(--fonte-texto);
    text-align: justify;
    margin-bottom: 20px;
}

.img-conteudo{
    width: 50%;
    height: auto;
    display: block;
    border-radius: 4px;
}

.botao{
    display: inline-block;
    width: auto;
}

.reverso{
    flex-direction: row-reverse;
    margin-bottom: 68px;
}
/* SESSOES */

/* RODAPE */
.rodape div nav{
    display: none;
}
/* RODAPE */

/* MEDIA QUERIES*/
@media (max-width: 768px){
    .rodape{
        padding: 15px;
        gap: 15px;
    }
    
    .rodape div nav{
        display: block;
    }
    
    .rodape div{
        justify-content: start;
        margin: 0;
        padding: 0;
    }
    
    .rodape div nav ul{
        list-style: none;
        font-size: var(--texto-mobile);
    }
    
    .rodape div nav ul a{
        color: var(--cor-branco);
        font-family: var(--fonte-texto);
        font-weight: 600;
    }
    
    .rodape section, .rodape-links{
        display: none;
    }
    
    .rodape-copyrigth{
        font-size: var(--texto-mobile);
    }

    .rodape-copyrigth span{
        display: block;
    }
}